body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8D8741;
    height: fit-content;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url(images/Header.jpg);
    background-size: cover;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav {
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    color: #fff;
    padding: 20px;
    background-image: url(images/Body.jpg);
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section li {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form label {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    box-sizing: border-box;
    background-color: #05684B;
    color: #fff;
    border: none;
    height: 50px;
    cursor: pointer;
}

.button-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
}

form textarea {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-color: #d9cdcd;
    border-width: 4px;
    background-color: antiquewhite;
}

form input[type="text"],
form input[type="email"] {
    border-color: #d9cdcd;
    background-color: antiquewhite;
    border-width: 4px;
    height: 50px;
}

form textarea {
    height: 150px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767px) {
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin: 10px 0;
    }
}